<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hnm.hnm.mapper.words.HskWordMapper">
    <resultMap id="hskResultMap" type="hsk">
        <id column="HSK_ID" property="hskId" />
        <result column="WORD" property="word" />
        <result column="MEANING" property="meaning" />
        <result column="INTONATION" property="intonation" />
        <result column="WORD_CLASS" property="wordClass" />
        <result column="LEVEL" property="level" />
        <result column="THEME" property="theme" />
        <association property="memo" column="{hsk_id, member_id}" javaType="memo" resultMap="memoResultMap" />
    </resultMap>

    <resultMap id="memoResultMap" type="memo">
        <id property="memoId" column="memo_id" />
        <result property="meaning" column="memo_meaning" />
        <result property="intonation" column="memo_intonation" />
        <result property="wordClass" column="memo_class" />
        <result property="explanation" column="explanation" />
        <result property="vocabId" column="vocab_id" />
        <result property="vocabGroupName" column="vocab_group_name" />
    </resultMap>

    <select id="selectHskTheme" parameterType="long" resultType="String">
        SELECT DISTINCT THEME FROM hsk
        WHERE level = #{hskLevel}
    </select>

    <select id="selectHskWordsByTheme" resultMap="hskResultMap">
        SELECT
            H.hsk_id as hsk_id,
            H.word as word,
            H.meaning as meaning,
            H.intonation as intonation,
            H.class as word_class,
            M.memo_id as memo_id,
            M.meaning as memo_meaning,
            M.intonation as memo_intonation,
            M.class as memo_class,
            M.explanation as explanation,
            M.vocab_id as vocab_id,
            M.vocab_group_name as vocab_group_name
        FROM
            (SELECT hsk_id, word, meaning, intonation, class FROM hsk WHERE level=#{level} AND theme=#{theme}) as H
            LEFT JOIN memo AS M
            ON H.hsk_id = M.hsk_id AND M.member_id = #{memberId}
    </select>
<!--    <select id="selectHskWordsByTheme" resultMap="hskResultMap">-->
<!--        SELECT-->
<!--            H.hsk_id as hsk_id,-->
<!--            H.word as word,-->
<!--            H.meaning as meaning,-->
<!--            H.intonation as intonation,-->
<!--            H.class as word_class,-->
<!--            M.meaning as memo_meaning,-->
<!--            M.intonation as memo_intonation,-->
<!--            M.class as memo_class,-->
<!--            M.explanation as explanation,-->
<!--            M.vocab_id as vocab_id,-->
<!--            M.vocab_group_name as vocab_group_name-->
<!--        FROM-->
<!--        (SELECT hsk_id, word, meaning, intonation, class FROM hsk WHERE level=#{level} AND theme=#{theme}) as H-->
<!--        LEFT JOIN memo AS M-->
<!--        ON H.hsk_id = M.hsk_id AND M.member_id = #{memberId}-->
<!--    </select>-->
    <select id="selectMemo" resultMap="memoResultMap">
        SELECT * FROM memo
        WHERE hsk_id = #{hskId} AND member_id = #{memberId}
    </select>


    <insert id="insertHskIntoVocab" parameterType="memo">
        INSERT INTO memo(VOCAB_ID, VOCAB_GROUP_NAME, HSK_ID, MEMBER_ID)
        VALUES (#{vocabId}, #{vocabGroupName}, #{hskId}, #{memberId})
    </insert>
    <update id="updateMemoInVocab" parameterType="memo">
        UPDATE memo SET
        vocab_id = #{vocabId},
        vocab_group_name = #{vocabGroupName}
        WHERE hsk_id = #{hskId} AND member_id = #{memberId}
    </update>
    <insert id="insertMemo" parameterType="memo">
        <selectKey keyProperty="memoId" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO memo(MEANING, INTONATION, CLASS, EXPLANATION, HSK_ID, MEMBER_ID)
        VALUES (#{meaning}, #{intonation}, #{wordClass}, #{explanation}, #{hskId}, #{memberId})
    </insert>
    <update id="updateMemo" parameterType="memo">
        UPDATE memo SET
        meaning = #{meaning},
        intonation = #{intonation},
        class = #{wordClass},
        explanation = #{explanation}
        WHERE hsk_id = #{hskId} AND member_id = #{memberId}
    </update>
</mapper>