<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hnm.hnm.mapper.words.PrivateWordMapper">

    <insert id="insertWord" parameterType="privateWord">
       INSERT INTO private_word(CH_CHARACTER, INTONATION, STORY, SAVED_GROUP, EMAIL)
       VALUES (#{chCharacter}, #{intonation}, #{story}, #{savedGroup}, #{email})
    </insert>
    <select id="selectPrivateWordDetail" parameterType="long" resultType="privateWord">
        SELECT * FROM private_word
        WHERE PRIVATE_WORD_ID = #{id}
    </select>

</mapper>